* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #673ab7;
  background: -webkit-linear-gradient(to bottom, #512da8, #673ab7);
  background: linear-gradient(to bottom, #512da8, #673ab7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  margin: 10rem auto 0;
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 450px;
  border-radius: 27px;
  background: #f9eeee;
  align-items: center;
  box-shadow: 5px 20px 50px 0px #00000099;
}

.basic {
  margin: 10% auto 5%;
  font-family: "Noto Sans Symbols", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  color: #2d1564;
}

.f1,
.f2,
.f3,
.f4,
.f5 {
  color: #2d1564;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  font: 1rem/2rem "Noto Sans Symbols", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  column-gap: 0.5rem;
}

img {
  height: 1rem;
  width: 1rem;
}

.divider {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 12rem;
  border-top: 1px solid #868585;
}

.free {
  color: #2d1564;
  margin-top: auto;
  text-align: center;
  font-family: "Noto Sans Symbols", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.13em;
}

.forever {
  margin: -5%;
  display: flex;
  font: 400 2.5rem "Dancing Script", sans-serif;
  color: #3b1b84;
  align-self: flex-end;
}

.start {
  margin: 15% auto;
  /* position: relative; */
  display: flex;
  align-self: flex-end;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  font: 600 1rem/2rem "Noto Sans Symbols", sans-serif;
  text-align: center;
  width: 10rem;
  height: 4rem;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ff4b2b, #ff416c);
  box-shadow: 5px 0px 50px 0px #cb646499;
  border-radius: 34px;

  word-wrap: break-word;
}
